<tr>
  <%= info.url%><br>
  <td><%= link_to 'Show', info %></td>
  <td><%= link_to 'Edit', edit_info_path(info) %></td>
  <td><%= link_to 'Destroy', info, method: :delete, data: { confirm: 'Are you sure?' } %></td><br>
</tr>
