  <script src = "social_media"></script>

<div id='canvas'>

  <div class="media">
    <span class="twitter">
      <a href="https://twitter.com/dgreenbe77" class="twitter-follow-button" data-show-count="true">Follow @dgreenbe77</a>
      <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http://bhappy.herokuapp.com" data-text="Bhappy">Tweet</a>
    </span>
    <div class="fb-like" data-href="http://bhappy.herokuapp.com" data-send="false" data-layout="button_count" data-show-faces="false"></div>
  </div>

  <div class = "large-12 medium-12 columns" id = "smiley">
    <h1 class="eye1">.</h1>
    <h1 class="eye2">.</h1>
    <h1 class="mouth">)</h1>
    <div class="circle"></div>
  </div>
     <%= link_to "Find Happiness", new_info_path, class: "happy large round button"%>
  <div class = "center large-12 medium-12 columns">
    <h1>Happy Entries</h1>
      <tbody>
        <%= render partial: 'info', collection: @infos %>
      </tbody>
    </table>
    <br>
  </div>


</div>


